*{
    padding: 0;
    margin: auto;
}
 body{
     background-color: black;
     position: center;
     width:100%;
     min-height: 100%;
     display:inline-block;
     text-align:center;
}
img{
    display: inline-block;
    max-width: 400px;
    position: relative;
    transform: scale(1);
    margin-top:200px;
    align-items:center;
    opacity:0%;
    cursor:pointer;
}